/* !!            global              */

html {
	box-sizing: border-box;
	position: relative;
}

* {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
	margin: 0;
}

/* !!         Общие настройки              */

svg {
	max-width: 100%;
	height: auto;
}

a:hover {
	color: #db4545;
}

.container {
	width: 1180px;
	margin: auto;
}

body {
	background-color: #1b1a1b;
	color: #ffffff;
}

/* !!                 section header                */

.header {
	padding-top: 146px;
	position: relative;
	padding-bottom: 590px;
}

.header::after {
	content: "";
	position: absolute;
	width: 675px;
	height: 672px;
	left: 900px;
	top: 216px;
	background-image: url("../images/Слой.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.header__title {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	color: #ffffff;
	line-height: 100%;
	letter-spacing: -0.1em;
}

.header__text {
	padding-left: 100px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 50px;
	color: #ffffff;
}

/* !!               section halls               */

.halls {
	padding-top: 50px;
	padding-bottom: 50px;
}

.halls__title {
	margin-bottom: 60px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.halls__list {
	display: block;
	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.list-item {
	margin-bottom: 60px;
	display: flex;
	width: 100%;
	height: 100vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.one {
	width: 1180px;
	height: 710px;
	background-image: url("../images/Rectangle1.jpg");
	background-repeat: no-repeat;
}

.two {
	width: 1180px;
	height: 710px;
	background-image: url("../images/Rectangle2.jpg");
	background-repeat: no-repeat;
}

.three {
	width: 1180px;
	height: 710px;
	background-image: url("../images/Rectangle3.jpg");
	background-repeat: no-repeat;
}

.four {
	width: 1180px;
	height: 710px;
	background-image: url("../images/Rectangle4.jpg");
	background-repeat: no-repeat;
}

.list-item-elem {
	display: flex;
	justify-content: center;
	width: 226px;
	text-align: center;
}

.list-item:last-child {
	margin-bottom: 0;
}

/* !!            section booking                 */

.booking {
	padding-top: 50px;
	padding-bottom: 50px;
}

.booking__title {
	margin-bottom: 50px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

/* !!              section about-us              */

.about-us {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-us__title {
	margin-bottom: 50px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.about-us__text {
	margin-bottom: 78px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #ffffff;
}

.blockquote-text {
	margin-bottom: 42px;
	padding-left: 55px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 50px;
	color: #ffffff;
	text-transform: uppercase;
}

.about-us__blockquote {
	position: relative;
}

.blockquote-text::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	left: 0px;
	top: -4px;
	background-image: url("../images/“.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.blockquote-text::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	top: 41px;
	left: 1060px;
	background-image: url("../images/“.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateY(75%) rotate(180deg);
}

.blockquote-item {
	display: flex;
	justify-content: end;
}

.blockquote-item-img {
	margin-right: 30px;
	border-radius: 50%;
}

.blockquote-item-text {
	width: 280px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	line-height: 28px;
}

/* !!                  section  list            */

.list {
	padding-top: 50px;
	padding-bottom: 50px;
}

.item {
	padding: 30px 70px;
	color: #1c1a1a;
	background-color: #fff;
}

.item:not(:last-child) {
	margin-bottom: 20px;
}

.item-text {
	width: 780px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.item:nth-child(2n) {
	color: #fff;
	background-color: #440f51;
}

.item,
.purple {
	position: relative;
}

.item:nth-child(odd)::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	left: 1094px;
	bottom: 27px;
	background-image: url("../images/open-purple.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.purple:nth-child(even)::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	left: 1094px;
	bottom: 27px;
	background-image: url("../images/open.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.list__title {
	margin-bottom: 40px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

/* !!          footer            */

footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__title {
	margin-bottom: 54px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.list-link {
	margin-bottom: 11px;
}

.link-tel,
.link-email {
	padding-left: 66px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.link-span {
	width: 300px;
	padding-left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.link-img {
	margin-right: 30px;
}

.location {
	display: flex;
}

.link-tel {
	background-image: url("../images/phone-call.svg");
}
.link-email {
	background-image: url("../images/letter.svg");
}

.list-link:first-child {
	margin-bottom: 38px;
}

.list-link:last-child {
	margin-bottom: 0;
}

.footer__list {
	margin-bottom: 38px;
}

.footer__social {
	display: flex;
	align-items: center;
}

.social-list {
	width: 50px;
	height: 50px;
	margin-right: 28px;
	outline: 1px solid transparent;
	outline-offset: 3px;
	border-radius: 50%;
	transition-property: color, outline-color;
	transition-duration: 0.3s, 0.2s;
	transition-timing-function: ease-in-out;
}

.social-list:last-child {
	margin-right: 0;
}

.link {
	color: #ffffff;
}

.link:hover {
	color: #cd06ff;
}

.link:focus {
	outline-color: #cd06ff;
}

.link:active {
	color: #840aa3;
}
