/* !! ======== section feedback ============= */

.feedback {
	padding-top: 50px;
	padding-bottom: 50px;
}

.feedback__title {
	margin-bottom: 40px;
	font-family: "Arial", sans-serif;
	font-size: 40px;
	color: var(--main-color);
	font-weight: 700;
	font-style: normal;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
}

.feedback__list {
	padding-left: 100px;
	padding-right: 100px;
	max-width: 1180px;
	min-height: 1097px;
	grid-template-rows: repeat(3, 319px);
	grid-template-areas:
		"list-element-one"
		"list-element-two"
		"list-element-three";
	gap: 50px;
}


/* 1 */
.list-element-one {
	top: 0;
	left: 0;
	position: relative;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "maks top";
	gap: 20px;
}

.maks {
	grid-area: maks;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.element-blockquote-one {
	grid-area: top;
	align-self: start;
	padding-top: 52px;
}

/* 2 */

.list-element-two {
	position: relative;
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-areas: "oksana center";
	gap: 20px;
}

.oksana {
	grid-area: oksana;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.element-blockquote-two {
	grid-area: center;
	align-self: start;
	padding-top: 52px;
}

/* 3 */

.list-element-three {
	position: relative;
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-areas: "nikita bottom";
	gap: 20px;
}

.nikita {
	grid-area: nikita;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.element-blockquote-three {
	grid-area: bottom;
	align-self: start;
	padding-top: 52px;
}

.list-elem::after {
	position: absolute;
	content: "";
	width: 280px;
	height: 280px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5));
	background-repeat: no-repeat;
	background-size: cover;
}

.element-one,
.element-two,
.element-three {
	display: block;
	margin-bottom: 11px;
	width: 280px;
	height: 280px;
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 50%;
}

.element-text-one,
.element-text-two,
.element-text-three {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	font-style: normal;
	color: var(--main-color);
	line-height: 28px;
}

.element-blockquote-one,
.element-blockquote-two,
.element-blockquote-three {
	max-width: 680px;
	font-family: "Arial", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: var(--main-color);
	font-style: normal;
	line-height: 28px;
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {
	.feedback {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.feedback__title {
		margin-bottom: 7px;
		font-size: 30px;
		line-height: 40px;
	}

	.feedback__list {
		padding-left: 77px;
		padding-right: 77px;
		max-width: 904px;
		min-height: 737px;
		grid-template-rows: repeat(3, 219px);
		grid-template-areas:
			"list-element-one"
			"list-element-two"
			"list-element-three";
		gap: 40px;
	}

	.element-blockquote-one,
	.element-blockquote-two,
	.element-blockquote-three {
		max-width: 515px;
		font-size: 18px;
		line-height: 26px;
	}

	.list-element-one {
		grid-template-columns: 1fr 4fr;
		grid-template-areas: "maks top";
		gap: 12px;
	}

	.list-element-two {
		grid-template-columns: 1fr 4fr;
		grid-template-areas: "oksana center";
		gap: 12px;
	}

	.list-element-three {
		grid-template-columns: 1fr 4fr;
		grid-template-areas: "nikita bottom";
		gap: 12px;
	}

	.list-elem::after {
		width: 172px;
		height: 172px;
	}

	.element-one,
	.element-two,
	.element-three {
		max-width: 172px;
		height: 172px;
	}

	picture {
		object-fit: cover;
	}

	.element-text-one,
	.element-text-three {
		display: flex;
		justify-content: center;
		width: 135px;
		height: 26px;
		font-size: 18px;
		line-height: 26px;
	}

	.element-text-two {
		display: flex;
		justify-self: center;
		width: 180px;
		height: 26px;
		font-size: 18px;
		line-height: 26px;
	}
}


/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.feedback {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.feedback__title {
		margin-bottom: 17px;
		font-size: 24px;
		line-height: 36px;
	}

	.feedback__list {
		padding-left: 74px;
		padding-right: 74px;
		max-width: 688px;
		min-height: 645px;
		grid-template-rows: repeat(3, 190px);
		gap: 30px;
	}

	.element-one,
	.element-two,
	.element-three {
		max-width: 153px;
		height: 153px;
	}

	.element-blockquote-one,
	.element-blockquote-two,
	.element-blockquote-three {
		max-width: 393px;
		font-size: 16px;
		line-height: 22px;
	}

	.element-text-one,
	.element-text-two,
	.element-text-three {
		width: 125px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.element-text-three {
		display: flex;
		justify-content: end;
	}

	.list-elem::after {
		width: 153px;
		height: 153px;
	}
}


/* !!  @media  631px  */

@media screen and (max-width: 631px) {

	.feedback__list {
		display: grid;
		min-height: 642px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 330px);
		row-gap: 40px;
	}

	.list-element-one {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"maks"
		"top";
		gap: 10px;
	}

	.list-element-two {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"oksana"
		"center";
		gap: 10px;

	}

	.list-element-three {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"nikita"
		"bottom";
		gap: 10px;
	}

	.list-elem::after {
		left: 31%;
		width: 153px;
		height: 153px;
	}

	.element-blockquote-one,
	.element-blockquote-two,
	.element-blockquote-three {
		padding-top: 20px;
		padding-bottom: 20px;
		max-width: 393px;
		font-size: 16px;
		line-height: 22px;
	}
}

/* !!  @media  320px  */

 @media screen and (max-width: 320px) {
	.feedback {
		padding-top: 15px;
		padding-bottom: 15px;
		width: 320px;
		min-height: 662px;
	}

	.feedback__title {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 16px;
	}

	.feedback__list {
		display: grid;
		padding-left: 0;
		padding-right: 0;
		max-width: 280px;
		min-height: 642px;
		grid-template-columns: 280px;
		grid-template-rows: repeat(3, 200px);
		row-gap: 20px;
	}

	/* 1 */
	.list-element-one {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"maks"
		"top";
		gap: 16px;
	}

	/* 2 */
	.list-element-two {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"oksana"
		"center";
		gap: 16px;

	}

	/* 3 */
	.list-element-three {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"nikita"
		"bottom";
		gap: 16px;
	}

	.list-elem::after {
		width: 86px;
		height: 86px;
		left: 35%;

	}

	.element-blockquote-one,
	.element-blockquote-two,
	.element-blockquote-three {
		padding-top: 7px;
		padding-bottom: 11px;
		max-width: 280px;
		min-height: 66px;
		font-size: 12px;
		line-height: 16px;
	}

	.element-one,
	.element-two,
	.element-three {
		max-width: 86px;
		height: 86px;
		margin-bottom: 9px;
	}

	.element-text-one {
		max-width: 105px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.element-text-two {
		width: 125px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.element-text-three {
		width: 105px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.elem-picture {
		object-fit: cover;
	}
}



