/* !! ======== section feedback ============= */

.container-small {
	width: 980px;
	margin: 0 auto;
}

.feedback {
	padding-top: 50px;
	padding-bottom: 50px;
}

.feedback__title {
	margin-bottom: 40px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: var(--main-color);
	text-align: center;
	text-transform: uppercase;
}

.feedback__list {
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 50px;
}

.list-element {
	display: grid;
	grid-template-columns: 280px 2fr;
	grid-gap: 20px;
}

.element-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.element-figure::after {
	content: "";
	/* display: block; */
	width: 280px;
	height: 280px;
	border-radius: 50%;
	position: absolute;
	background: radial-gradient(rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5));
}

.element-img {
	margin-bottom: 11px;
	border-radius: 50%;
}

.element-paragraph,
.element-blockquote {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	color: var(--main-color);
	line-height: 28px;
}

.element-paragraph {
	padding-top: 11px;
}

.element-blockquote {
	width: 680px;
	padding-top: 60px;
}
