/* !! ================ footer ================ */

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: linear-gradient(rgba(27, 26, 27, 1), rgba(55, 10, 55, 1));
}

.footer__title {
	margin-bottom: 54px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.list-link {
	display: flex;
	align-items: center;
	margin-bottom: 11px;
}

.link-span,
.link-tel,
.link-email {
	padding-left: 28px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #ffffff;
	line-height: 28px;
}

.link-span:hover,
.link-tel:hover,
.link-email:hover {
	color: rgba(132, 10, 163, 1);
}

.link-span {
	width: 300px;
}

.list-link:first-child {
	margin-bottom: 38px;
}

.list-link:last-child {
	margin-bottom: 0;
}

.footer__list {
	margin-bottom: 38px;
}

.footer__bottom {
	padding-top: 156px;
}
.footer__bottom-text,
.footer__bottom-text-left {
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
}

.footer__bottom-right {
	text-align: right;
}

.footer__bottom-text:not(:last-child) {
	margin-bottom: 6px;
}

.link-svg:hover {
	color: rgba(132, 10, 163, 1);
	
}
