/* !!============= section header ============ */

.header {
	padding-top: 30px;
	padding-bottom: 25px;
}

/* .header::after {
	content: "";
	position: absolute;
	width: 97px;
	height: 97px;
	left: 49.1%;
	top: 10%;
	background-image: url("/css/hype/img/down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
} */

.header__button {
	padding: 13px 32px;
	font-size: 22px;
	font-weight: 300;
	color: #ffffff;
	background: transparent;
	background-image: url("../image/search.png");
	background-repeat: no-repeat;
	background-position: 230px 50%;
	border: 3px solid #cd06ff;
	border-radius: 10px;
	text-transform: uppercase;
	outline: none;
	opacity: 0.8;
	cursor: pointer;
}

.header__nav-items {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 28px;
}

.header__nav-items:not(:last-child) {
	margin-right: 20px;
}

