/* !!============= section header ============ */

.header {
	padding-top: 30px;
	padding-bottom: 25px;
}

/* .header::after {
	content: "";
	position: absolute;
	width: 97px;
	height: 97px;
	left: 49.1%;
	top: 10%;
	background-image: url("/css/hype/img/down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
} */

.header__button {
	padding: 13px 32px;
	font-size: 22px;
	font-weight: 300;
	color: #ffffff;
	background: transparent;
	background-image: url("../image/search.png");
	background-repeat: no-repeat;
	background-position: 230px 50%;
	border: 1px solid #cd06ff;
	border-radius: 10px;
	text-transform: uppercase;
	outline: none;
	opacity: 0.8;
	cursor: pointer;
}

.header__button:hover {
	background: rgba(108, 2, 135, 1);
	border: 3px solid rgba(108, 2, 135, 1);
}

.header__button:active {
	background: rgba(100, 10, 163, 1);
	border: 1px rgba(0, 0, 0, 1);
}

.header__button:focus {
	background: rgba(108, 2, 135, 1);
}

.header__nav-items {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 28px;
}

.header__nav-items:not(:last-child) {
	margin-right: 20px;
}

.nav-item:hover {
	color: rgba(132, 10, 163, 1);
}

.nav-item:active {
	
	background: rgba(205, 6, 255, 1);
}

.nav-item:focus {
	color: rgba(255, 255, 255, 1);
	outline: 1px solid rgba(205, 6, 255, 1);
}