/* !! ============== section list ============ */

.list {
	padding-top: 50px;
	padding-bottom: 50px;
}

.list__title {
	margin-bottom: 40px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.list__item-element {
	display: flex;
	align-items: center;
	padding: 30px 70px;
	color: #1c1a1a;
	background-color: #fff;
}

.list__item-element:nth-child(2n) {
	color: #fff;
	background-color: #440f51;
}

.purple:hover {
	color: rgba(108, 2, 135, 1);
	background: rgba(255, 255, 255, 1);
	/* border-radius: 50%; */
}

.white:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(108, 2, 135, 1);
}

.white:active {
	color: rgba(255, 255, 255, 1);
	background: transparent;
}

.purple:active {
	color: rgba(255, 255, 255, 1);
	background: transparent;
}

.list__item-element:not(:last-child) {
	margin-bottom: 20px;
}

.list__item-text {
	width: 780px;
	margin-right: 214px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.list__item-svg,
.list__item-svg-purple {
	width: 35px;
	height: 35px;
}

/* .item:nth-child(odd)::after {
	content: "";
	position: absolute;
	
	left: 1094px;
	bottom: 27px;
	background-image: url("/css/list/img/open-purple.svg");
	background-repeat: no-repeat;
	background-size: contain;
} */

/* .purple:nth-child(even)::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	left: 1094px;
	bottom: 27px;
	background-image: url("/css/list/img/open.svg");
	background-size: contain;
	background-repeat: no-repeat;
} */
