/* !! ============== section list ============ */

.list {
	padding-top: 50px;
	padding-bottom: 50px;
}

.list__title {
	margin-bottom: 40px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: var(--main-color);
	font-style: normal;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

.list__item-element {
	display: flex;
	align-items: center;
	color: #1c1a1a;
	padding: 30px 70px;
	background-color: var(--main-color);
	transition-duration: 3s, 0.5s;
	transition-property: color, background-color;
	transition-timing-function: ease-in-out;
}

.list__item-element:nth-child(2n) {
	color: var(--main-color);
	background-color: #440f51;
}

.purple:hover {
	color: var(--purple-color);
	background-color: var(--main-color);
	/* border-radius: 50%; */
}

.white:hover {
	color: var(--main-color);
	background-color: var(--purple-color);
}

.white:active {
	color: var(--main-color);
	background-color: transparent;
}

.purple:active {
	color: var(--main-color);
	background-color: transparent;
}

.list__item-element:not(:last-child) {
	margin-bottom: 20px;
}

.list__item-text {
	width: 780px;
	margin-right: 214px;
	font-family: "Arial", sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 28px;
}

.list__item-svg,
.list__item-svg-purple {
	width: 46px;
	height: 46px;
}

/* !!  @media  1200px  */

@media screen and (max-width: 1200px) {
	.list__item-element {
		display: flex;
		align-items: center;
		padding: 23px 54px;
	}

	.list__item-svg,
	.list__item-svg-purple {
		width: 46px;
		height: 46px;
	}

	.list__item-text {
		margin-right: 5px;
		font-weight: 700;
	}
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {
	.list {
		height: 475px;
		max-width: 1024px;
		padding-top: 35px;
		padding-bottom: 29px;
	}

	.list__title {
		margin-bottom: 40px;
		width: 904px;
		font-size: 30px;
		line-height: 40px;
	}

	.list__item-element {
		width: 904px;
		height: 70px;
		padding: 23px 25px;
	}

	.list__item-element:nth-child(2n) {
		color: #440f51;
		background-color: var(--main-color);
	}

	.purple:hover {
		color: var(--main-color);
		background-color: var(--purple-color);
	}

	.purple:active {
		color: var(--main-color);
		background-color: transparent;
	}

	.list__item-element:not(:last-child) {
		margin-bottom: 16px;
	}

	.list__item-text {
		margin-right: 68px;
		width: 745px;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}

	.list__item-svg,
	.list__item-svg-purple {
		width: 46px;
		height: 46px;
	}
	.ultimate {
		display: none;
	}

	.purple-last {
		margin-bottom: 0;
	}
}

/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.list {
		height: 460px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.list__title {
		margin-bottom: 30px;
		width: 688px;
		font-size: 24px;
		line-height: 26px;
	}

	.list__item {
		max-width: 688px;
	}

	.list__item-element {
		display: flex;
		max-width: 688px;
		height: 70px;
		align-items: center;
		padding: 23px 54px;
	}

	.list__item-element:not(:last-child) {
		margin-bottom: 16px;
	}

	.list__item-text {
		margin-right: 116px;
		width: 407px;
		font-size: 18px;
		line-height: 24px;
	}

	.list__item-svg,
	.list__item-svg-purple {
		width: 46px;
		height: 46px;
	}

	.ultimate {
		display: none;
	}

	.list__item-element > purple-last {
		margin-bottom: 0;
	}
}

/* !!  @media  320px  */

@media screen and (max-width: 320px) {
	.list {
		width: 320px;
		height: 277px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.list__title {
		margin-bottom: 15px;
		width: 280px;
		font-size: 14px;
		line-height: 18px;
	}

	.list__item {
		max-width: 280px;
		height: 214px;
	}
	.list__item-element {
		display: flex;
		width: 280px;
		height: 46px;
		align-items: center;
		padding: 7px 10px;
	}

	.list__item-element:not(:last-child) {
		margin-bottom: 10px;
	}

	.list__item-text {
		margin-right: 0;
		width: 227px;
		font-size: 12px;
		line-height: 16px;
	}

	.list__item-svg,
	.list__item-svg-purple {
		width: 30px;
		height: 30px;
	}

	.ultimate {
		display: none;
	}

	.purple-last {
		margin-bottom: 0;
	}
}

