/* !! ============= section booking ============ */

.booking {
	background: #440f51;
}

.booking__wrap {
	padding-top: 80px;
	padding-bottom: 80px;
}

/* // =========== top ============ */
.booking__wrap-title {
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
}

.booking__wrap-top {
	margin-bottom: 60px;
}

.booking__wrap-halls,
.booking__wrap-fun,
.booking__wrap-order {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	line-height: 28px;
}

.booking__wrap-media-left-title,
.booking__wrap-media-center-title,
.booking__wrap-media-right-title {
	margin-bottom: 23px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.btn-btn {
	padding: 7px 46px;
	font-size: 30px;
	font-weight: 700;
	color: #000000;
	background: var(--main-color);
	line-height: 40px;
	border-radius: 8px;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	transition-duration: 0.5s, 0.5s, 1s;
	transition-property: background-color, outline, color;
	transition-timing-function: ease-in-out;
}

.btn-btn:hover {
	background-color: rgba(234, 222, 237, 1);
	outline: 3px solid rgba(100, 10, 163, 1);
}

.btn-btn:active {
	outline: 3px solid var(--main-color);
	background-color: var(--purple-color);
	color: var(--main-color);
}

.btn-btn:focus {
	outline: 3px solid rgba(100, 10, 163, 1);
}

/* // ========== media ================= */

.booking__wrap-media {

	max-width: 980px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.media-left-input,
.media-center-input,
.media-right-input {
	display: flex;
	align-items: center;
	font-size: 22px;
	line-height: 25.3px;
}

.booking__wrap-input {
	margin-right: 12px;
	width: 25px;
	height: 25px;
	transition-duration: 0.4s;
	transition-property: outline;
	transition-timing-function: ease-in-out;
}

.booking__wrap-input:focus {
	outline: 2px solid var(--hover-color);
}

.media-left-list:not(:last-child) {
	margin-bottom: 20px;
}

.media-center-list:not(:last-child) {
	margin-bottom: 20px;
}

.media-right-list:not(:last-child) {
	margin-bottom: 20px;
}

.booking__wrap-order {
	margin-bottom: 38px;
}

/* // ======== bottom ===========  */

.booking__wrap-bottom {
	margin: 0 auto;
	display: grid;
	max-width: 980px;
	height: 269px;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: repeat(3, 80px);
	grid-template-areas:
		"top-left top-center top-right"
		"center-left center-center center-right"
		". . bottom";
	gap: 14px 50px;
}

/* top-left */
.booking__wrap-left-grup {
	grid-area: top-left;
	align-self: end;
	margin-bottom: 0;
}

/* top-center */
.bottom-center-input {
	grid-area: top-center;
	max-width: 300px;
}
.input-name {
	width: 100%;
	height: 52px;
}

/*top-right  */
.tel {
	grid-area: top-right;
	max-width: 300px;
}
.input-tel {
	width: 100%;
	height: 52px;
}

/* center-left */
.bottom-left-input {
	grid-area: center-left;
	align-self: end;
	max-width: 300px;
}
.input-number {
	width: 100%;
	min-height: 52px;
}

/* center-center */
.surname {
	grid-area: center-center;
	max-width: 300px;
	align-self: center;
}
.input-surname {
	width: 100%;
	height: 52px;
}

/* center-right */
.email {
	grid-area: center-right;
	max-width: 300px;
}
.input-email {
	width: 100%;
	height: 52px;
}

.input-date,
.input-time {
	max-width: 134px;
	height: 52px;
	padding-left: 20px;
	background-image: url("/css/booking/img/booking.svg");
	background-size: 21px 15px;
	background-repeat: no-repeat;
	background-position: 86px 50%;
	border: none;
	transition-duration: 0.4s;
	transition-property: outline;
	transition-timing-function: ease-in-out;
}

.input-date::placeholder,
.input-time::placeholder,
.input-number::placeholder {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	line-height: 28px;
}

.input-date:focus {
	outline: 2px solid var(--hover-color);
}

.input-time:focus {
	outline: 2px solid var(--hover-color);
}

.input-number {
	max-width: 300px;
	height: 52px;
	padding-left: 20px;
	background-image: url("/css/booking/img/booking.svg");
	background-size: 21px 15px;
	background-repeat: no-repeat;
	background-position: 252px 50%;
	border: none;
	transition-duration: 0.4s;
	transition-property: outline;
	transition-timing-function: ease-in-out;
}

.input-number:focus {
	outline: 2px solid var(--hover-color);
}

.input-name,
.input-surname {
	padding-left: 20px;
	border: none;
	transition-duration: 0.4s;
	transition-property: outline;
	transition-timing-function: ease-in-out;
}

.input-name:focus {
	outline: 2px solid var(--hover-color);
}

.input-surname:focus {
	outline: 2px solid var(--hover-color);
}

.bottom-center-input,
.bottom-right-input {
	font-size: smaller;
}

.booking__wrap-bottom-btn {
	grid-area: bottom;
	align-self: end;
	padding: 16px 50px;
	font-family: "Arial", sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #6c0287;
	background-color: var(--main-color);
	text-transform: uppercase;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	transition-duration: 0.4s, 1s;
	transition-property: outline, color;
	transition-timing-function: ease-in-out;
}

.booking__wrap-bottom-btn:hover {
	outline: 3px solid var(--purple-color);
}

.booking__wrap-bottom-btn:active {
	color: rgba(234, 222, 237, 1);
}

.booking__wrap-bottom-btn:focus {
	outline: 3px solid var(--purple-color);
}

.input-tel,
.input-email {
	padding-left: 20px;
	border: none;
	transition-duration: 0.4s, 1s;
	transition-property: outline, border;
	transition-timing-function: ease-in-out;
}

.bottom-right-input:focus {
	outline: none;
	border: 2px solid var(--hover-color);
}
input:focus {
	border: 2px solid var(--hover-color);
}

.input-tel:focus {
	outline: 2px solid var(--hover-color);
}

.input-email:focus {
	outline: 2px solid var(--hover-color);
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {
	.booking {
		width: 1024px;
		min-height: 991px;
		background: #440f51;
	}

	.booking__wrap {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.booking__wrap-title {
		margin-bottom: 25px;
		font-size: 30px;
		text-align: center;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
	}

	.booking__wrap-bottom {
		display: grid;
		max-width: 904px;
		height: 268px;
		grid-template-columns: 300px repeat(2, 1fr);
		grid-template-rows: repeat(3, 80px);
		grid-template-areas:
			"top-left top-center top-right"
			"center-left center-center center-right"
			". . bottom";
		gap: 14px 50px;
	}

	/* top-left */
	.booking__wrap-left-grup {
		grid-area: top-left;
		align-self: end;
		margin-bottom: 0;
	}

	/* top-center */
	.bottom-center-input {
		grid-area: top-center;
		max-width: 251px;
	}
	.input-name {
		width: 100%;
	}

	/*top-right  */
	.tel {
		grid-area: top-right;
		max-width: 254px;
		height: 52px;
	}
	.input-tel {
		width: 100%;
	}

	/* center-left */
	.bottom-left-input {
		grid-area: center-left;
		align-self: end;
		max-width: 300px;
	}
	.input-number {
		width: 100%;
		min-height: 52px;
	}

	/* center-center */
	.surname {
		grid-area: center-center;
		max-width: 251px;
		align-self: center;
	}
	.input-surname {
		width: 100%;
	}

	/* center-right */
	.email {
		grid-area: center-right;
		max-width: 254px;
		height: 52px;
	}

	.input-email {
		width: 100%;
	}

	/* bottom */
	.booking__wrap-bottom-btn {
		grid-area: bottom;
		align-self: end;
		height: 50px;
		font-size: 18px;
		padding: 13px 45px;
		line-height: 24px;
	}

	.booking__wrap-halls,
	.booking__wrap-fun,
	.booking__wrap-order {
		margin-bottom: 26px;
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		line-height: 28px;
	}

	.booking__wrap-media-left-title,
	.booking__wrap-media-center-title,
	.booking__wrap-media-right-title {
		margin-bottom: 23px;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}
	.btn-btn {
		width: 180px;
		height: 44px;
		font-size: 20px;
		font-weight: 700;
		padding: 10px 20px;
		line-height: 24px;
	}
}

/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.booking {
		width: 768px;
		height: 1292px;
		padding-bottom: 30px;
		background: #440f51;
	}

	.booking__wrap {
		width: 688px;
		padding-top: 50px;
		padding-bottom: 50px;
		/* height: 1192px; */
	}

	/* // =========== top ============ */
	.booking__wrap-title {
		font-size: 24px;
		line-height: 36px;
	}

	.booking__wrap-halls,
	.booking__wrap-fun,
	.booking__wrap-order {
		margin-bottom: 30px;
	}

	.booking__wrap-top {
		margin-bottom: 50px;
	}

	.btn-btn {
		width: 150px;
		height: 38px;
		font-size: 16px;
		padding: 9px 20px;
		line-height: 20px;
		border-radius: 6px;
	}

	/* // ========== media ================= */

	.booking__wrap-media {
		flex-wrap: wrap;
		max-width: 688px;
		margin-bottom: 50px;
	}

	.booking__wrap-media-left {
		margin-bottom: 32px;
		width: 365px;
		height: 272px;
	}

	.booking__wrap-media-center {
		width: 321px;
		height: 272px;
	}

	.booking__wrap-media-right {
		width: 278px;
		height: 151px;
	}

	.booking__wrap-input {
		margin-right: 20px;
		width: 40px;
		height: 40px;
	}

	/* //=== bottom ====*/

	.booking__wrap-bottom {
		display: grid;
		max-width: 688px;
		height: 363px;
		grid-template-columns: 280px 300px;
		grid-template-rows: repeat(4, 80px);
		grid-template-areas:
			"top-left center-left"
			"top-center top-right"
			"center-center center-right"
			". bottom";

		gap: 14px 106px;
	}

	/* top-left */
	.booking__wrap-left-grup {
		grid-area: top-left;
		width: 280px;
		align-self: start;
		margin-bottom: 0;
	}

	/* top-center */
	.bottom-center-input {
		grid-area: top-center;
		width: 100%;
	}

	.input-name {
		width: 280px;
	}

	/*top-right  */
	.tel {
		grid-area: top-right;
		width: 100%;
		height: 52px;
	}

	.input-tel {
		width: 300px;
	}

	/* center-left */
	.number {
		grid-area: center-left;
		max-width: 300px;
		align-self: start;
	}

	.input-number {
		width: 100%;
		min-height: 52px;
	}

	/* center-center */
	.surname {
		grid-area: center-center;
		width: 100%;
		align-self: center;
	}
	.input-surname {
		width: 280px;
	}

	/* center-right */
	.email {
		grid-area: center-right;
		width: 100%;

		height: 52px;
	}
	.input-email {
		width: 300px;
	}

	/* bottom */
	.booking__wrap-bottom-btn {
		grid-area: bottom;
		align-self: end;
		width: 300px;
		height: 60px;
		padding: 16px 50px;
		font-size: 22px;
		line-height: 28px;
	}

	.booking__wrap-halls,
	.booking__wrap-fun,
	.booking__wrap-order {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 28px;
	}

	.btn-btn {
		padding: 9px 20px;
		font-size: 16px;
		line-height: 20px;
	}
}

/* !!  @media  320px  */

@media screen and (max-width: 320px) {
	.booking {
		padding-top: 15px;
		padding-bottom: 30px;
		width: 320px;
		min-height: 1459px;
	}

	.booking__wrap {
		width: 280px;
		padding-top: 0;
	}

	.booking__wrap-title {
		margin-bottom: 13px;
		font-size: 14px;
		line-height: 20px;
	}

	.booking__wrap-media {
		flex-wrap: wrap;
		margin-bottom: 0;
		max-width: 280px;
		height: 570px;
	}

	.booking__wrap-top {
		margin-bottom: 30px;
	}

	.booking__wrap-media-left-list,
	.booking__wrap-media-center-list,
	.booking__wrap-media-right-list {
		margin-bottom: 0;
	}

	.booking__wrap-media-left-title,
	.booking__wrap-media-center-title,
	.booking__wrap-media-right-title {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 18px;
	}

	.media-left-input,
	.media-center-input,
	.media-right-input {
		font-size: 16px;
		height: 30px;
		line-height: 18.4px;
	}

	.booking__wrap-input {
		margin-right: 20px;
		width: 30px;
		height: 30px;
	}

	.media-left-list:not(:last-child) {
		margin-bottom: 15px;
	}

	.media-center-list:not(:last-child) {
		margin-bottom: 15px;
	}

	.media-right-list:not(:last-child) {
		margin-bottom: 15px;
	}

	.input-date::placeholder,
	.input-time::placeholder,
	.input-number::placeholder {
		font-size: 14px;
		line-height: 18px;
	}

	.booking__wrap-halls,
	.booking__wrap-fun,
	.booking__wrap-order {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 18px;
	}

	.bottom-center-input,
	.bottom-right-input {
		font-family: "Arial", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}

	.input-number {
		background-position: 233px 50%;
	}

	.booking__wrap-order {
		margin-bottom: 10px;
	}

	.booking__wrap-media-left {
		margin-bottom: 0;
		width: 280px;
		height: 199px;
	}

	.booking__wrap-media-center {
		margin-bottom: 0;
		width: 280px;
		height: 199px;
	}

	.booking__wrap-media-right {
		margin-bottom: 0;
		width: 280px;
		height: 108px;
	}

	/* //=== bottom ====*/

	.booking__wrap-bottom {
		display: grid;
		max-width: 688px;
		min-height: 422px;
		grid-template-columns: 280px;
		grid-template-rows: repeat(7, 80px);
		grid-template-areas:
			"top-left "
			"center-left"
			"top-center "
			"center-center"
			"top-right"
			" center-right"
			"bottom";

		gap: 7px;
	}

	/* top-left */
	.booking__wrap-left-grup {
		grid-area: top-left;
		width: 280px;
		align-self: center;
		margin-bottom: 0;
	}

	/* top-center */
	.bottom-center-input {
		grid-area: top-center;
		width: 100%;
	}
	.input-name {
		width: 280px;
	}

	/*top-right  */
	.tel {
		grid-area: top-right;
		width: 100%;
		height: 52px;
		align-self: cent;
	}

	.input-tel {
		width: 280px;
	}

	/* center-left */
	.number {
		grid-area: center-left;
		align-self: start;
		max-width: 280px;
	}

	.input-number {
		width: 100%;
		min-height: 52px;
	}

	/* center-center */
	.surname {
		grid-area: center-center;
		margin-bottom: 35px;
		width: 100%;
		align-self: center;
	}
	
	.input-surname {
		width: 280px;
	}

	/* center-right */
	.email {
		grid-area: center-right;
		width: 100%; 
		height: 52px;
	}

	.input-email {
		width: 280px;
		margin-bottom: 35px;
	}

	/* bottom */
	.booking__wrap-bottom-btn {
		grid-area: bottom;
		align-self: end;
		width: 280px;
		height: 60px;
		padding: 17px 58px;
		font-size: 18px;
		line-height: 26px;
		border-radius: 4px;
	}

	.btn-btn {
		width: 130px;
		height: 30px;
		padding: 6px 20px;
		font-size: 14px;
		line-height: 18px;
		border-radius: 4px;
	}

	.booking__wrap-top {
		flex-wrap: wrap;
		gap: 20px 14px;
	}
}
