/* !! ================ section hype =============*/

.hype {
	position: relative;
	height: 822px;
	padding-top: 25px;
	padding-bottom: 50px;
}

.hype::after {
	content: "";
	position: absolute;
	left: 47.4%;
	top: 11.9%;
	width: 672px;
	height: 675px;
	background-image: url("/css/hype/img/Слой.png");
	background-size: 675px 672px;
	background-repeat: no-repeat;
	background-size: contain;
}

.hype__title {
	font-family: "Arial", sans-serif;
	font-size: 150px;
	font-weight: 900;
	color: var(--main-color);
	font-style: normal;
	line-height: 100%;
	letter-spacing: -0.1em;
}

.hype__text {
	margin-bottom: 30px;
	padding-left: 100px;
	font-family: "Arial", sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: var(--main-color);
	font-style: normal;
	line-height: 50px;
}

.hype__content-top {
	margin-bottom: 130px;
	gap: 40px;
}

.hype__content-top-left,
.hype__content-top-right {
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}

.top-left-paragraph {
	font-family: "Arial", sans-serif;
	font-size: 100px;
	color: var(--hover-color);
	font-weight: 900;
	line-height: 141.02px;
}

.top-right-paragraph {
	font-family: "Arial", sans-serif;
	font-size: 75px;
	color: var(--hover-color);
	font-weight: 900;
	line-height: 105.76px;
}

.top-left-text,
.top-right-text {
	font-family: "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: var(--main-color);
	font-style: normal;
	line-height: auto;
}

.top-left-text {
	width: 193px;
}

.hype__content-top-right {
	width: 166px;
}

.hype__content-button {
	font-size: 26px;
	font-weight: 700;
	color: var(--main-color);
	padding: 25px 69px;
	background: var(--purple-color);
	border-radius: 10px;
	text-transform: uppercase;
	outline: none;
	opacity: 0.8;
	cursor: pointer;
	transition-duration: 0.4s;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
}

.hype__content-button:hover {
	background-color: rgb(37, 10, 44);
}

.hype__content-button:active {
	background-color: rgba(100, 10, 163, 1);
}

.hype__content-button:focus {
	background-color: rgba(132, 10, 163, 1);
}

.hype__link-img {
	position: absolute;
	top: 74%;
	left: 49%;
	z-index: 1;
	transition-duration: 0.4s, 0.2s;
	transition-property: color, background-color;
	transition-timing-function: ease-in-out;
}

.hype__link-img:hover {
	color: var(--purple-color);
	background-color: var(--main-color);
	border-radius: 50%;
}

.hype__link-img:active {
	color: var(--main-color);
	background-color: var(--hover-color);
	border-radius: 50%;
}

.hype__link-img:focus {
	outline: 1px solid var(--hover-color);
}

/* !!  @media  1200px  */

@media screen and (max-width: 1200px) {
	.container {
		padding-left: 95px;
		padding-right: 95px;
		max-width: 1232px;
	}

	.hype {
		height: 783px;
	}

	.hype::after {
		left: 48.2%;
		top: 11.5%;
		width: 564px;
		height: 641px;
		background-size: 564px 641px;
	}
	.hype__title {
		font-size: calc(35px + 115 * (100vw / 1440));
		line-height: 100%;
		letter-spacing: -0.1em;
	}

	.hype__text {
		font-size: calc(10px + 18 * (100vw / 1440));
		line-height: 50px;
	}

	.hype__content-top {
		margin-bottom: 80px;
		gap: 30px;
	}

	.top-left-paragraph {
		font-size: calc(26px + 74 * (100vw / 1440));
	}

	.top-right-paragraph {
		font-size: calc(22px + 53 * (100vw / 1440));
	}

	.top-left-text,
	.top-right-text {
		font-size: calc(10px + 20 * (100vw / 1440));
	}

	.hype__content-button {
		font-size: calc(10px + 16 * (100vw / 1440));
		padding: 21px 60px;
	}

	.hype__link-img {
		width: 65px;
		height: 65px;
	}
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {
	.hype {
		height: 640px;
		padding-top: 15px;
		padding-bottom: 41.5px;
	}

	.hype::after {
		width: 453px;
		height: 520px;
		left: 50%;
		top: 12.1%;
		background-image: url("/css/hype/img/img1024/Слой1024.png");
		background-size: 453px 520px;
		object-fit: contain;
	}

	.hype__title {
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 120px;
		line-height: 120px;
		letter-spacing: -10%;
	}

	.hype__text {
		margin-bottom: 30px;
		padding-left: 100px;
		font-size: 22px;
		line-height: 30px;
	}

	.hype__content-top {
		margin-bottom: 80px;
		height: 174px;
		gap: 30px;
	}

	.top-left-paragraph {
		font-size: 80px;
		line-height: 112.81px;
	}

	.top-right-paragraph {
		font-size: 60px;
		line-height: 84.61px;
	}

	.top-left-text,
	.top-right-text {
		font-size: 26px;
		line-height: 29.9px;
	}

	.top-left-text {
		max-width: 168px;
		min-height: 60px;
	}

	.hype__content-top-right {
		max-width: 140px;
		min-height: 145px;
	}

	.hype__content-button {
		padding: 17px 48px;
		font-size: 22px;
	}

	.hype__link-img {
		position: absolute;
		top: 74.5%;
		left: 48%;
		width: 67px;
		height: 67px;
		z-index: 1;
		transition-duration: 0.4s, 0.2s;
		transition-property: color, background-color;
		transition-timing-function: ease-in-out;
	}
}


/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.hype {
		width: 768px;
		height: 584px;
		padding-top: 15px;
		padding-bottom: 40px;
	}

	.hype::after {
		left: 41.6%;
		top: 10.9%;
		width: 409px;
		height: 479px;
		background-image: url("/css/hype/img/img768/Слой768.png");
		background-size: 409px 479px;
	}

	.hype__title {
		margin-bottom: 20px;
		width: 688px;
		font-size: 86px;
		line-height: 86px;
	}

	.hype__text {
		margin-bottom: 50px;
		padding-left: 70px;
		width: 688px;
		font-size: 18px;
		line-height: 24px;
	}

	.hype__content {
		width: 688px;
	}

	.hype__content-top {
		margin-bottom: 75px;
		align-items: self-end;
		width: 223px;
		height: 132px;
	}

	.top-left-paragraph {
		font-size: 50px;
		line-height: 70.51px;
	}

	.top-right-paragraph {
		font-size: 40px;
		line-height: 56.41px;
	}

	.top-left-text,
	.top-right-text {
		font-size: 16px;
		line-height: 110%;
	}

	.top-left-text {
		width: 103px;
	}

	.hype__content-top-right {
		justify-content: center;
		width: 89px;
	}

	.hype__content-button {
		font-size: 16px;
		padding: 11px 35px;
		line-height: 24px;
		border-radius: 4px;
	}

	.hype__link-img {
		display: none;
		top: 74%;
		left: 49%;
		z-index: 1;
	}
}

/* !!  @media  320px  */

@media screen and (max-width: 320px) {
	.hype {
		width: 320px;
		height: 230px;
		padding-top: 10px;
		padding-bottom: 23px;
	}

	.hype::after {
		left: 43.2%;
		top: 12.2%;
		width: 161px;
		height: 179px;
		background-image: url("/css/hype/img/img320/Слой320.png");
		background-size: 161px 179px;
	}

	.hype__content {
		width: 280px;
	}

	.hype__title {
		margin-bottom: 6px;
		width: 212px;
		height: 35px;
		font-size: 35px;
		line-height: 35px;
	}

	.hype__text {
		margin-bottom: 10px;
		padding-left: 20px;
		width: 152px;
		height: 14px;
		font-size: 10px;
		line-height: 14px;
	}

	.hype__content-top {
		margin-bottom: -18px;
		align-items: flex-end;
		justify-content: start;
		width: 142px;
		height: 100px;
		gap: 10px;
	}

	.hype__content-top-right {
		justify-content: center;
		width: 89px;
	}

	.top-left-paragraph {
		font-size: 26px;
		height: 57px;
	}

	.top-right-paragraph {
		font-size: 22px;
		height: 40px;
		line-height: 56.41px;
	}

	.top-left-text,
	.top-right-text {
		font-size: 10px;
		line-height: 110%;
	}

	.top-left-text {
		width: 65px;
		height: 22px;
	}

	.top-right-text {
		width: 54px;
	}

	.hype__content-button {
		font-size: 10px;
		padding: 8px 13px;
		line-height: 12px;
		border-radius: 4px;
	}
}
