/* !! ================ section hype =============*/

.hype {
	padding-top: 25px;
	position: relative;
	height: 822px;
	padding-bottom: 50px;
}

.hype::after {
	content: "";
	position: absolute;
	width: 672px;
	height: 675px;
	left: 47.4%;
	top: 11.9%;
	background-image: url("/css/hype/img/Слой.png");
	background-size: 675px 672px;
	background-repeat: no-repeat;
	background-size: contain;
}

.hype__title {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	color: #ffffff;
	line-height: 100%;
	letter-spacing: -0.1em;
}

.hype__text {
	padding-left: 100px;
	margin-bottom: 30px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	color: #ffffff;
	line-height: 50px;
}

.hype__content-top {
	height: 174px;
	gap: 30px;
	margin-bottom: 130px;
}

.hype__content-top-left,
.hype__content-top-right {
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}

.top-left-paragraph {
	font-family: "Arial", sans-serif;
	font-weight: 900;
	font-size: 100px;
	color: rgba(205, 6, 255, 1);
	line-height: 141.02px;
}

.top-right-paragraph {
	font-family: "Arial", sans-serif;
	font-weight: 900;
	font-size: 75px;
	color: rgba(205, 6, 255, 1);
	line-height: 105.76px;
}

.top-left-text,
.top-right-text {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: #ffffff;
	line-height: auto;
}

.top-left-text {
	width: 193px;
}

.hype__content-top-right {
	width: 166px;
}

.hype__content-button {
	padding: 25px 69px;
	font-size: 26px;
	font-weight: 700;
	color: #ffffff;
	background: rgba(108, 2, 135, 1);
	border-radius: 10px;
	text-transform: uppercase;
	outline: none;
	opacity: 0.8;
	cursor: pointer;
}

.hype__content-button:hover {
	background: rgba(132, 10, 163, 1);
}

.hype__content-button:active {
	background: rgba(100, 10, 163, 1);
}

.hype__content-button:focus {
	background: rgba(132, 10, 163, 1);
}

.hype__link-img {
	position: absolute;
	top: 74%;
	left: 49%;
	z-index: 1;
}

.hype__link-img:hover {
	color: rgba(108, 2, 135, 1);
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
} 

.hype__link-img:active {
	color: rgba(255, 255, 255, 1);
	background: rgba(205, 6, 255, 1);
	border-radius: 50%;
} 

.hype__link-img:focus {
	outline: 1px solid rgba(205, 6, 255, 1);
} 
