/* !! =============== social ================= */

.footer__social {
	display: flex;
	align-items: center;
	
}

.social-list {
	margin-right: 28px;
	width: 50px;
	height: 50px;
	outline: 1px solid transparent;
	outline-offset: 3px;
	border-radius: 50%;
	transition-property: color, outline-color;
	transition-duration: 0.3s, 0.2s;
	transition-timing-function: ease-in-out;
}

.social-list:last-child {
	margin-right: 0;
}

.link {
	color: var(--main-color);
}

.link:hover {
	color: #cd06ff;
}

.link:focus {
	outline-color: #cd06ff;
}

.link:active {
	color: #840aa3;
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {

	.social-list {
		margin-right: 26px;
		width: 40px;
		height: 40px;
	}
}

/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.footer__social {
		display: flex;
		justify-content: center;
	}
}

