/* !!              section about-us              */

.about-us {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-us__title {
	margin-bottom: 50px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.wrap {
	display:grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 80px;
}

.wrap-left-img {
	height: 629px;
}

.about-us__text {
	width: 500px;
	margin-bottom: 78px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	line-height: 28px;
}

.blockquote-text {
	width: 469px;
	margin-bottom: 50px;
	padding-left: 30px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	color: #ffffff;
	line-height: 50px;
	text-transform: uppercase;
}

.about-us__blockquote {
	position: relative;
}

.blockquote-text::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	left: 0px;
	top: -4px;
	background-image: url("/css/about-us/img/“.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.blockquote-text::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	top: 142px;
	left: 360px;
	background-image: url("/css/about-us/img/“.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateY(75%) rotate(180deg);
}

.blockquote-item {
	display: flex;
	justify-content: end;
}

.blockquote-item-img {
	margin-right: 30px;
	border-radius: 50%;
}

.blockquote-item-text {
	width: 280px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	line-height: 28px;
}