/* !! ============ section about-us ============= */

.about-us {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-us__title {
	margin-bottom: 50px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: var(--main-color);
	text-align: center;
	text-transform: uppercase;
}

.wrap {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 222px 202px 84px;
	grid-template-areas:
		"wrap-left wrap-right-text"
		"wrap-left blockquote-text"
		"wrap-left blockquote-item ";
	column-gap: 80px;
	row-gap: 43px;
}

.wrap-right-text {
	grid-area: wrap-right-text;
	max-width: 500px;
	height: 222px;
}

.wrap-left {
	grid-area: wrap-left;
	max-width: 600px;
	min-height: 596px;
	grid-template-columns: 4.7fr 3.9fr 1.3fr 1fr 6.3fr;
	grid-template-rows: 206px 224px 166px;
	grid-template-areas:
		"one-elem one-elem two-elem two-elem two-elem"
		"three-elem four-elem four-elem five-elem five-elem"
		"six-elem six-elem six-elem six-elem seven-elem";
}

.one-elem {
	grid-area: one-elem;
	max-width: 300px;
	height: 206px;
	background-image: url("../about-us/img/img1440/about_us1-1440.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
}

.two-elem {
	grid-area: two-elem;
	max-width: 300px;
	height: 206px;
	background-image: url("../about-us/img/img1440/about_us2-1440.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
}

.three-elem {
	grid-area: three-elem;
	max-width: 164px;
	height: 224px;
	background-image: url("../about-us/img/img1440/about_us3-1440.jpg");
	background-repeat: no-repeat;
	object-fit: contain;
}

.four-elem {
	grid-area: four-elem;
	width: 180px;
	height: 224px;
	background-image: url("../about-us/img/img1440/about_us4-1440.jpg");
	background-repeat: no-repeat;
	object-fit: contain;
}

.five-elem {
	grid-area: five-elem;
	max-width: 256px;
	height: 224px;
	background-image: url("../about-us/img/img1440/about_us5-1440.jpg");
	background-repeat: no-repeat;
	object-fit: contain;
}

.six-elem {
	grid-area: six-elem;
	max-width: 380px;
	height: 166px;
	background-image: url("../about-us/img/img1440/about_us6-1440.jpg");
	background-repeat: no-repeat;
	object-fit: contain;
}

.seven-elem {
	grid-area: seven-elem;
	max-width: 380px;
	height: 166px;
	background-image: url("../about-us/img/img1440/about_us7-1440.jpg");
	background-repeat: no-repeat;
	object-fit: contain;
}

.about-us__text {
	max-width: 500px;
	margin-bottom: 50px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: var(--main-color);
	line-height: 28px;
}

.blockquote-text {
	position: relative;
	grid-area: blockquote-text;
	max-width: 469px;
	padding-top: 5px;
	padding-left: 30px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	color: var(--main-color);
	line-height: 50px;
	text-transform: uppercase;
}

.about-us__blockquote {
	position: relative;
}

.blockquote-text::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	left: 0%;
	top: 2.5%;
	background-image: url("../about-us/img/“.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.blockquote-text::after {
	content: "";
	position: absolute;
	top: 70.5%;
	left: 77.5%;
	width: 24px;
	height: 20px;
	background-image: url("../about-us/img/“.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateY(75%) rotate(180deg);
}

.blockquote-item {
	display: flex;
	justify-content: end;
}

.blockquote-item-img {
	margin-right: 30px;
	border-radius: 50%;
}

.blockquote-item-text {
	width: 280px;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: var(--main-color);
	line-height: 28px;
}

/* !!  @media  1200px  */

@media screen and (max-width: 1200px) {
	.text-top {
		margin-bottom: 30px;
	}
	.blockquote-text::before {
		top: 6.5%;
	}

	.blockquote-text::after {
		top: 72%;
		left: 83.5%;
	}
}

/* !!  @media  1024px  */

@media screen and (max-width: 1024px) {
	.about-us {
		padding-top: 70px;
		padding-bottom: 35px;
	}

	.about-us__title {
		margin-bottom: 26px;
		font-size: 30px;
		line-height: 40px;
	}

	.wrap {
		grid-template-rows: 195px 126px 78px;
		column-gap: 40px;
		row-gap: 13px;
	}

	.wrap-left {
		max-width: 420.46px;
		min-height: 417.66px;
		grid-template-rows: 144.23px 156.97px 116.33px;
	}

	.one-elem {
		grid-area: one-elem;
		max-width: 210.23px;
		height: 144.36px;
		background-image: url("../about-us/img/img1024/about_us1-1024.jpg");
	}

	.two-elem {
		max-width: 210.23px;
		height: 144.36px;
		background-image: url("../about-us/img/img1024/about_us2-1024.jpg");
	}
	.three-elem {
		max-width: 114.93px;
		height: 156.97px;
		background-image: url("../about-us/img/img1024/about_us3-1024.jpg");
	}

	.four-elem {
		width: 126.14px;
		height: 156.97px;
		background-image: url("../about-us/img/img1024/about_us4-1024.jpg");
		object-fit: cover;
	}

	.five-elem {
		max-width: 179.4px;
		height: 156.97px;
		background-image: url("../about-us/img/img1024/about_us5-1024.jpg");
	}

	.six-elem {
		max-width: 266.29px;
		height: 116.33px;
		background-image: url("../about-us/img/img1024/about_us6-1024.jpg");
	}
	.seven-elem {
		max-width: 154.17px;
		height: 116.33px;
		background-image: url("../about-us/img/img1024/about_us7-1024.jpg");
	}
	.about-us__text {
		max-width: 444px;
		margin-bottom: 26px;
		font-size: 18px;
		line-height: 24px;
	}
	.text-btt {
		max-width: 400px;
		margin-bottom: 0px;
	}

	.blockquote-text {
		max-width: 444px;
		padding-left: 30px;
		font-size: 30px;
		line-height: 36px;
	}

	.blockquote-text::after {
		top: 25.5%;
		left: 61%;
		width: 15px;
		height: 36px;
	}

	.blockquote-text::before {
		top: 7.5%;
		width: 15px;
		height: 36px;
	}

	.blockquote-item-img {
		margin-right: 30px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}

	.blockquote-item-text {
		max-width: 225px;
		font-size: 18px;
		line-height: 26px;
	}
}

/* !!  @media  768px  */

@media screen and (max-width: 768px) {
	.about-us {
		max-width: 768px;
		min-height: 660px;
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.about-us__title {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 36px;
	}

	.wrap {
		max-width: 688px;
		height: 575px;
		display: grid;
		grid-template-columns: 1.37fr 1fr;
		grid-template-rows: 380px 90px 78px;
		grid-template-areas:
			"wrap-left wrap-right-text"
			"bottom bottom"
			"blockquote-item blockquote-item";
		gap: 12px 28px;
	}

	.wrap-right-text {
		grid-area: wrap-right-text;
		align-self: center;
		margin-bottom: 16px;
		max-width: 278px;
		height: 247px;
		font-family: "Arial", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: var(--main-color);
		line-height: 22px;
	}

	.wrap-left {
		grid-area: wrap-left;
		max-width: 382px;
		min-height: 380px;
		grid-template-columns: 4.7fr 3.9fr 1.3fr 1fr 6.3fr;
		grid-template-rows: 131.34px 142.82px 105.84px;
	}

	.one-elem {
		grid-area: one-elem;
		max-width: 191px;
		height: 131.34px;
		background-image: url("../about-us/img/img768/about_us1-768.jpg");
	}

	.two-elem {
		grid-area: two-elem;
		max-width: 191px;
		height: 131.34px;
		background-image: url("../about-us/img/img768/about_us2-768.jpg");
	}

	.three-elem {
		grid-area: three-elem;
		max-width: 104.41px;
		height: 142.82px;
		background-image: url("../about-us/img/img768/about_us3-768.jpg");
	}

	.four-elem {
		grid-area: four-elem;
		width: 114.6px;
		height: 142.82px;
		background-image: url("../about-us/img/img768/about_us4-768.jpg");
	}

	.five-elem {
		grid-area: five-elem;
		max-width: 162.99px;
		height: 142.82px;
		background-image: url("../about-us/img/img768/about_us5-768.jpg");
	}

	.six-elem {
		grid-area: six-elem;
		max-width: 241.93px;
		height: 105.84px;
		background-image: url("../about-us/img/img768/about_us6-768.jpg");
	}

	.seven-elem {
		grid-area: seven-elem;
		max-width: 140.07px;
		height: 105.84px;
		background-image: url("../about-us/img/img768/about_us7-768.jpg");
	}

	.blockquote-text {
		grid-area: bottom;
		max-width: 688px;
		height: 90px;
		padding-left: 22px;
		padding-top: 14px;
		font-weight: 400;
		font-size: 32px;
		line-height: 36px;
	}

	.blockquote-text::before {
		left: 0;
		top: 17%;
		width: 16px;
		height: 36px;
	}

	.blockquote-text::after {
		top: 0.1%;
		left: 80%;
		width: 16px;
		height: 36px;
	}

	.blockquote-item {
		grid-area: blockquote-item;
		max-width: 688px;
		height: 78px;
		background-repeat: no-repeat;
		object-fit: cover;
	}

	.blockquote-item-img {
		margin-right: 30px;
		border-radius: 50%;
	}

	.blockquote-item-text {
		max-width: 225px;
		min-height: 78px;
		font-size: 18px;
		line-height: 26px;
	}
}

/* !!  @media  320px  */

@media screen and (max-width: 320px) {
	.about-us {
		padding-top: 30px;
		padding-bottom: 15px;
		max-width: 320px;
		min-height: 620px;
	}
	.about-us__title {
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 18px;
	}
	.about-us__text {
		max-width: 280px;
		margin-bottom: 0;
		font-size: 12px;
		line-height: 16px;
	}

	.wrap {
		max-width: 280px;
		min-height: 574px;
		grid-template-columns: 1fr;
		grid-template-rows: 133px 280px 73px 60px;
		grid-template-areas:
			"wrap-right-text"
			"wrap-left "
			"blockquote-text"
			"blockquote-item";
		row-gap: 9px;
	}

	.wrap-right-text {
		grid-area: wrap-right-text;
		align-self: center;
		margin-bottom: 0;
		max-width: 280px;
		height: 127px;
	}

	.wrap-left {
		grid-area: wrap-left;
		max-width: 280px;
		min-height: 280px;
		grid-template-columns: 4.7fr 3.9fr 1.3fr 1fr 6.3fr;
		grid-template-rows: 96.78px 105.23px 77.99px;
	}

	.one-elem {
		grid-area: one-elem;
		max-width: 140px;
		height: 96.78px;
		background-image: url("../about-us/img/img320/about_us1-320.jpg");
	}
	.two-elem {
		grid-area: two-elem;
		max-width: 140px;
		height: 96.78px;
		background-image: url("../about-us/img/img320/about_us2-320.jpg");
	}
	.three-elem {
		grid-area: three-elem;
		max-width: 75.53px;
		height: 105.23px;
		background-image: url("../about-us/img/img320/about_us3-320.jpg");
	}

	.four-elem {
		grid-area: four-elem;
		width: 84px;
		height: 105.23px;
		background-image: url("../about-us/img/img320/about_us4-320.jpg");
	}
	.five-elem {
		grid-area: five-elem;
		max-width: 119.47px;
		height: 105.23px;
		background-image: url("../about-us/img/img320/about_us5-320.jpg");
	}

	.six-elem {
		grid-area: six-elem;
		max-width: 177.33px;
		height: 77.99px;
		background-image: url("../about-us/img/img320/about_us6-320.jpg");
	}

	.seven-elem {
		grid-area: seven-elem;
		max-width: 102.67px;
		height: 77.99px;
		background-image: url("../about-us/img/img320/about_us7-320.jpg");
	}

	.blockquote-text {
		grid-area: blockquote-text;
		max-width: 280px;
		height: 74px;
		padding-left: 15px;
		padding-top: 0;
		font-weight: 400;
		font-size: 18px;

		line-height: 26px;
	}

	.blockquote-text::before {
		left: 0;
		top: 1%;
		width: 11px;
		height: 50px;
	}

	.blockquote-text::after {
		top: -21.9%;
		left: 55%;
		width: 11px;
		height: 50px;
	}
	.text-top {
		margin-bottom: 15px;
	}

	.blockquote-item {
		grid-area: blockquote-item;
		max-width: 280px;
		height: 56px;
	}

	.blockquote-item-img {
		margin-right: 11px;
		width: 56px;
		height: 56px;
		border-radius: 50%;
	}

	.blockquote-item-text {
		display: flex;
		align-items: center;
		max-width: 213px;
		min-height: 48px;
		font-size: 12px;
		line-height: 16px;
	}
}
